/* Styling for the container */

.total-rewards-container {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Styling for the heading */
  .total-rewards-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Styling for the table */
  .total-rewards-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .total-rewards-table th,
  .total-rewards-table td {
    padding: 12px;
    text-align: left;
    
    border-right: 1px solid #eae1e1;
  }
  
  .total-rewards-table th {
    background-color: #dddddd;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #ddd;
  }
  
  .total-rewards-table tr {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #eae1e1;
  }
  
  .total-rewards-ContentRow:hover {
    background-color: #f0f0f0;
     cursor: pointer;
   }
   
  