.App{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Rewards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}